.dashboard {
  padding: 10px;
  .mat-tab-group {
    .mat-tab-header {
      background-color: red !important;
      .mat-tab-label-content {
        color: white;
        font-size: larger;
        font-weight: 900;
      }
    }
    .mat-card {
      margin: 10px;
      max-height: 200px;
      overflow-y: auto;
      background-color: #d3d3d3 !important;
      .d-flex {
        display: flex;
        .text-container {
          width: 85%;
        }
        .img-container {
          width: 15%;
          margin: 0px 10px;
          .img-style {
            height: 100%;
            width: 100%;
            border-radius: 5px;
          }
        }
      }
    }
  }
}
